{% extends "personal/header.html" %}
{% block content %}
{% load staticfiles %}
<section class="fdb-block">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1>Babu Thomas</h1>
          <p class="text-h2">
            Learner, Programmer, Not an expert
          </p>
        </div>
      </div>

      <div class="row align-items-center pt-2 pt-lg-5">
        <div class="col-12 col-sm-8 col-lg-7">
          <h2>Hello, World!</h2>
          <p class="text-h3">
              Welcome to my website. Just getting started here. Trying my hand at Django.
              Expect great things here very soon. Follow the links below for more.
          </p>
          <p class="mt-4"><a class="btn" href="#">Take a Tour</a></p>
        </div>

        <div class="col-8 col-sm-4 m-auto m-md-0 ml-md-auto pt-5">
          <img alt="image" class="img-fluid" src="{% static 'personal/imgs/img_square_1.svg' %}">
        </div>
      </div>
    </div>
  </section>

{% endblock %}