{% extends "personal/header.html" %}
{% block content %}

<section class="fdb-block">
    <div class="container">
        {% for post in object_list %}
          <div class="row">
            <div class="col-sm-12 text-center">
              <h1>{{ post.date|date:"Y-m-d" }}</h1>
            </div>
          </div>

          <div class="row align-items-center pt-2 pt-lg-5">
            <div class="col-12 text-center">
              <h2>{{ post.title }}</h2>
              <p class="text-h3">
                  Read here.
              </p>
            </div>
          </div>
        {% endfor %}
    </div>
</section>

{% endblock %}